:root {
  
    --bcg: #F5F6F8;
--white: #ffffff;
    --navBar: #3A4452;
    --black: #000000;
    --littleGrey: #67707A;
    --neutral: #4B5662;

}
  
  
.App{

  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bcg);
  


}
  
.below-navbar{
  display: flex;
}
  
  
  
        
    
.MuiSvgIcon-root {
  color: var(--neutral)
}
  
        